<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Digital Booking</title>
</head>
<body>

    <header>

        <div class="company"> 
            <a href="/">
                <div class="logo"><img src="../public/img/logo1.png" alt="logotipo"></div>
                <h4 class="slogan">Sentite como en tu hogar</h4>
                
            </a>
            
        </div>

        <div class="user_entry">

            <!-- <a href="#">Crear cuenta</a>
            <a href="#">Iniciar sesión</a> -->


        </div>

        <div class="user_data">

            <div class="avatar">
                <p>BR</p>
            </div>
            <div class="hi_username">
            <p class="hello">Hola,</p>
            <p class="username">Bruno Rodríguez</p>
            </div>
            
            <a class="logout" href="cierreSesion">X</a>
        </div>
        
    </header>
    <main>
        
        <section class="searcher">
            <h1>Busca ofertas en hoteles, casas y mucho más</h1>
            
            <form action="#" method="POST">

                <select class="form-control fa reserve">
                    <option class="fa" > Ubicacion ciudades </option>
                </select>
                <input type="datetime-local" class="reserve">
                <input class="search" type="submit" value="Buscar" />

            </form>
            
        </section>
    </main>

    <footer>
        <div class="copyright">
            <p>©2021 Digital Booking</p>
        </div>

        <div class="social_networks">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>

        </div>
    </footer>
</body>
</html>