.reservation_dates_title{
    margin-bottom: 15px;
}

.datePicker {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
  } 

  /* .react-datepicker, .react-datepicker__month-container {
    width: 200%;
    height: 100%;
} */
/* .reservation_dates_container{
    margin-top: 0;
}

.reservation_dates_title{
    color: var(--color2);
}

.container_dates{
    border-radius: 8px;

}

.calendar{
    width: 100%;
} */